@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
  --blue: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  --red: #f5365c;
  --orange: #fb6340;
  --yellow: #ffd600;
  --green: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #e14eca;
  --secondary: #f4f5f7;
  --success: #00f2c3;
  --info: #1d8cf8;
  --warning: #ff8d72;
  --danger: #fd5d93;
  --light: #adb5bd;
  --dark: #212529;
  --default: #344675;
  --white: #ffffff;
  --neutral: #ffffff;
  --darker: black;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  height: 100%;
  max-width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; */
  font-family: 'Source Code Pro', monospace;
  color: white;
}
.container {
  max-width: 650px;
  height: auto;
  margin: 0 auto;
  margin-top: 125px;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* width: 400px;
  height: 400px; */
  /* margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px; */
  /* box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3); */

}

h1 {
  color: var(--danger);
  text-align: center;
  font-size: 55px;
}

.moon, .blood, .sun {
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center center;
}

/* .moon {
  background-image: url("./moon.png");
}

.sun {
  background-image: url("./sun.png");
}

.blood {
  background-image: url("./blood.png");
} */

.city, .country {
  font-size: 20px;
  font-weight: 300px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 27px;
}

.temp {
  font-weight: 1000px;
  font-size: 55px;
  text-align: center;
  position: relative;
  top: 5px;
  left: -10px;
}

.wind, .weather-condition, .humidity {
  text-align: center;
  position: relative;
  top: 45px;
}

.weather-condition {
  font-size: 15px;
  text-transform: uppercase;
}

.wi-fahrenheit {
  position: relative;
  top: -18px;
  left: 80px;
  font-size: 25px;
}
 
.wi-day-rain-wind{
  font-size: 75px;
}

.wind {
  position: relative;
  top: -20px;

}

.humidity {
  float: right;
  position: relative;
  top: -115px;
  right: 40px;


}

.wi-strong-wind, .wi-humidity{
  font-size: 25px;
}

.wi-thermometer {
  font-size: 20px;
  /* position: relative;
  left: px; */
}

.weather-condition {
  font-size: 55px;
  position: relative;
  top: -30px;
  left: 12px;
  text-align: center;
  
}

.description {
  font-size: 15px;
  text-align: center;
  position: relative;
  top: -28px;
  left: -10px;
}

.temp-min-max {
  /* position: absolute; 
  top: 755px;
  left: 305px; */
  float: left;
  position: relative;
  top: -113px;
  left: 33px;

}

.wi-owm {
  font-size: 25px;
}

@media screen and (max-width: 650px) {
      .container {
        max-width: 100%;
      }
      .weather-container {
        max-width: 100%;
        max-height: auto;
      }
}

.weather-container {
  background-image: url("./assets/scenery_illustration.gif");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: center center; 
  text-align: center;
  background-color: 'rgba(0, 0, 0, 0.35)',
}

@media only screen and (min-width: 600px) {
  .weather-container {background-image: url("./assets/blood.png"); }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .weather-container{background-image: url("./assets/sun.png");}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .weather-container {background-image:url("./assets/nature1.png");}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .weather-container {
    background-image: url("./assets/scenery_illustration.gif");
    color: black;
    
  }
}